// Colors
$darkBlue: #36393b;
$darkerBlue: #0068bf;
$limeGreen: #2196f3;
$brightCyan: #6ec5ff;
$grayishBlue: hsl(233, 8%, 62%);
$lightGrayishBlue: hsl(220, 11%, 95%);
$veryLightGray: hsl(0, 0%, 98%);
$white: #fafafa;

// Font Sizes
$font-sm: 0.875rem; // 14px
$font-med: 1.125rem; // 18px
$font-lg: 1.25rem;
$font-xlg: 3.25rem;
